# Build
bin/
obj/

# Visual Studio
.vs/

# Rider
.idea/

# User files
*.user
*.suo

# Publish
publish/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# Installer output
Installer/Output/

# Temporary
*.tmp